data/Traffic_Hourly_Count_Seattle.csv
data/Traffic_Study_Flow_Counts_Seattle.csv
sumo-traffic-optimization-quantum-mar29/Mar29_quantum2/data/Traffic_Hourly_Count_Seattle.csv
sumo-traffic-optimization-quantum-mar29/Mar29_quantum2/data/Traffic_Count_Studies_by_Hour.csv
